body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.NavbarApp {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: rgb(158, 120, 120);
  height: 200px;
}
